<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Curtain Call.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9ED0358A2E6D655500342CA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9ED0359A2E6D655700342CA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9ED035A42E6D655700342CA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
